<h1 mat-dialog-title>{{ data.action === 'add' ? 'Add new item' : 'Edit' }}</h1>
<div mat-dialog-content *ngFor="let key of keys">
  <mat-form-field *ngIf="key !== 'id' && key !== 'action'">
    <input matInput [(ngModel)]="data[key]" placeholder="{{ key }}" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.action === 'add' ? 'Save' : 'Update' }}
  </button>
</div>
