.link-group-actions {
  a {
    color: #399ada;
    margin: -10px;
    cursor: pointer;
  }
}

// ::ng-deep .responsive-modal {
  //   @media only screen and (max-width: 500px) {
  //     cdk-overlay-pane {
  //       width: 80% !important;
  //     }
  //   }
  // }