<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" [hidden]="!isAuth">
    <app-sidenav-list
      (closeSidenav)="sidenav.close()"
      [isAdmin]="isAdmin"
    ></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      (sidenavToggle)="sidenav.toggle()"
      [hidden]="!isAuth"
      [isAdmin]="isAdmin"
    ></app-header>
    <main>
      <div class="instruction-group" [hidden]="!isAuth">
        <mat-spinner *ngIf="!menu" [diameter]="30"></mat-spinner>
        <div class="title" *ngIf="menu">
          {{ menu.name }}
          <mat-icon class="edit-menu-btn" matTooltip="Edit" (click)="edit(menu)"
            >edit</mat-icon
          >
        </div>
        <div class="instruction" *ngIf="menu">{{ menu.description }}</div>
      </div>
      <div class="{{ isAuth ? 'outlet' : '' }}">
        <div class="group-action">
          <button mat-stroked-button (click)="addItem()" *ngIf="isAuth">
            <mat-icon>add</mat-icon>
            <span>Add</span>
          </button>
          <button mat-stroked-button (click)="preview()" *ngIf="isAuth">
            <mat-icon>preview</mat-icon>
            <span>Preview</span>
          </button>
        </div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
