mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

button {
  margin: 0 0 0 2px;
}

.main-viewport {
  width: 95%;
  margin: 10px 0px 0 20px;
}

.instruction-group {
  text-align: center;

  .title {
    font-size: 25px;
    margin-top: 20px;
  }

  .instruction {
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    margin-top: 20px;
  }
}

.group-action {
  margin: 30px 0 10px 0;
  text-align: center;
  display: flex;
  justify-content: flex-end;

  button {
    border-color: #399ada;
    color: #399ada;
    width: 100px;

    &:hover {
      background-color: #399ada;
      color: white;
    }
  }

  span {
    margin: 2px;
  }
}
