<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="end end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [matMenuTriggerFor]="menu">Menu</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item" (click)="newMenu()">
            <mat-icon>add</mat-icon>
            <span>New menu</span>
          </button>
          <mat-divider></mat-divider>
          <button
            mat-menu-item
            class="menu-item"
            *ngFor="let menu of menus"
            (click)="selectMenu(menu)"
          >
            <mat-icon>menu</mat-icon>
            <span>{{ menu }}</span>
          </button>
        </mat-menu>
      </li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
