<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="end end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="isAdmin">
        <a mat-raised-button color="primary" [matMenuTriggerFor]="rootMenu">
          Users
          <mat-icon>expand_more</mat-icon>
        </a>
        <mat-menu #rootMenu="matMenu">
          <ng-container *ngFor="let item of menuList">
            <button mat-menu-item [matMenuTriggerFor]="subMenu">
              {{ item.user }}
            </button>

            <mat-menu #subMenu="matMenu">
              <button mat-menu-item class="menu-item" (click)="newMenu(item)">
                <mat-icon>add</mat-icon>
                <span>New menu</span>
              </button>
              <mat-divider></mat-divider>
              <ng-container *ngFor="let menu of item.children">
                <button mat-menu-item (click)="selectMenu(menu)">
                  <mat-icon>menu</mat-icon>
                  {{ menu.name }}
                </button>
              </ng-container>
            </mat-menu>
          </ng-container>
        </mat-menu>
      </li>
      <li *ngIf="!isAdmin">
        <a [matMenuTriggerFor]="menu">Menu</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item" (click)="newMenu()">
            <mat-icon>add</mat-icon>
            <span>New menu</span>
          </button>
          <mat-divider></mat-divider>
          <div *ngFor="let menu of menus" fxFlex fxLayout="row">
            <button mat-menu-item class="menu-item" (click)="selectMenu(menu)">
              <mat-icon>menu</mat-icon>
              <span>{{ menu.name }}</span>
            </button>
            <button
              align="end"
              class="delete-menu-btn"
              matTooltip="Delete {{ menu.name }}"
              (click)="deleteMenu(menu)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </mat-menu>
      </li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
