<mat-nav-list>
  <mat-list-item [matMenuTriggerFor]="menu">
    <button mat-icon-button>
      <mat-icon>list</mat-icon>
      <a>Menu</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item" (click)="newMenu()">
          <mat-icon>add</mat-icon>
          <span>New menu</span>
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          class="menu-item"
          *ngFor="let menu of menus"
          (click)="selectMenu(menu)"
        >
          <mat-icon>menu</mat-icon>
          <span>{{ menu.name }}</span>
        </button>
      </mat-menu>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span>Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
